<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/news/register" method="post" th:object="${news}">
        <div>
            <label for="title">Title</label>
            <input type="text" th:field="*{title}" placeholder="Enter the title!?">
        </div>

        <div>
            <label for="content">Content</label>
            <textarea th:field="*{content}" placeholder="Enter the content!?"
            rows = "10" cols ="70"></textarea>
        </div>

        <div>
            <label for="author">Author</label>
            <input type="text" th:field="*{author}" placeholder="Enter the author!?">
        </div>

        <div>
            <label for="date">Date</label>
            <input type="datetime-local" th:field="*{date}" placeholder="Enter the date!?">
        </div>

        <div>
            <label for="imageUrl">Image URL</label>
            <input type="url" th:field="*{imageUrl}" placeholder="Enter the image URL!?" style="width: 700px;">
        </div>

        <div>
            <label for="category">Category</label>
            <select th:field="*{category}">
                <option value="">Select a category</option>
                <option value="politics">Politics</option>
                <option value="sports">Sports</option>
                <option value="technology">Technology</option>
                <option value="entertainment">Entertainment</option>
            </select>
        </div>

        <div>
            <button type="submit">Save</button>
            <button type="reset">Reset</button>
        </div>
    </form>
</body>
</html>